@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;700&family=Lato:wght@700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: sans-serif;
	min-height: 100vh;
	max-width: 100vw;
}
